{% extends 'base.html.twig' %}

{% block title %}Registro!{% endblock %}

{% block body %}

    

    {% for message in app.flashes('correcto') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(formulario)}}
    
{% endblock %}
