{% extends 'base.html.twig' %}

{% block title %}Hello BlogEntriesController!{% endblock %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(formulario)}}
    
{% endblock %}
